body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://subtlepatterns.com/patterns/geometry2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.btn:focus{
    background: rgb(197, 197, 197);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: gray;
}
a,
a:hover{
    color: gray;
    text-decoration: none;
    background-color: transparent;
}



.heart-icon:focus{
    outline: none !important;
    box-shadow: none;
    border: none;
    background: transparent;
    color: red;
}
input[type="text"],
input[type="text"]:focus{
    outline: 0 none;
    border: none;
}